parameters:
	ignoreErrors:
		-
			message: "#^Method JazzMan\\\\WpNavMenuCache\\\\MenuItems\\:\\:setMenuClasses\\(\\) should return array\\<string\\> but returns mixed\\.$#"
			count: 1
			path: src/MenuItems.php

		-
			message: "#^Parameter \\#2 \\$fetch_argument of method PDOStatement\\:\\:fetchAll\\(\\) expects \\(callable\\(\\)\\: mixed\\)\\|int\\|string, array given\\.$#"
			count: 1
			path: src/helper.php
